@import '../index.module';

@mixin btn-color($color: $main-color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
}

.Button {
  color: white;
  height: 3.4rem;
  border-radius: 0.2rem;
  @include btn-color();

  &.small {
    width: 8rem;
  }

  &.medium {
    width: 16rem;
  }

  &.fullwidth {
    width: 100%;
    justify-content: center;
  }

  &.outline {
    @include btn-color(white);
    border: solid 0.1rem $darkgray;
    color: $black;
  }
}
