@import '../index.module';

@mixin btn-color($color: $main-color) {
  background: $color;
  &:hover {
    background: lighten($color, 10%);
  }
  &:active {
    background: darken($color, 10%);
  }
}

.Button {
  @include btn-color();
  color: $white;
  height: 3.4rem;
  border-radius: 0.2rem;

  /* color options */
  &.white {
    @include btn-color($white);
    color: $black;
    border: solid 0.1rem $gray;
  }
  &.gray {
    @include btn-color($lightgray);
    color: $darkgray;
  }

  /* size options */
  &.small {
    width: 10rem;
  }
  &.medium {
    width: 16rem;
  }

  /* etc */
  &.fullWidth {
    width: 100%;
  }
}
