/* color */
$main-color: #1990fe;
$main-color-light: #0084ff13;
$white: #ffffff;
$gray: #dfe0e4;
$darkgray: #909192;
$lightgray: #f5f5f5;

/* font-size */
$font-large: 3.2rem;
$font-medium: 2.8rem;
$font-regular: 1.6rem;
$font-small: 1.3rem;

/* font-weight */
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

html {
  /* set 1rem to 10px for convenience */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body,
body > div {
  height: 100%;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

h1 {
  font-size: $font-large;
  margin: 1.6rem 0;
}

h3 {
  font-size: $font-medium;
  margin: 0.8rem 0;
}

p {
  font-size: $font-regular;
  margin-top: 0;
  margin: 0.4rem 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
